<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Your App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <img src="https://i.pinimg.com/originals/37/d2/16/37d216b3dba2ac9e3302ed3af2f1535d.jpg" alt="Logo" class="logo">
    <h1>YOUTUBE VIDEO SUMMARIZER</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  {% block content %}{% endblock %}