{% extends 'header.html' %}

{% block title %}Summarizer App{% endblock %}

{% block content %}
  <nav>
    <ul>
      <li>
        <form action="{{ url_for("summarize") }}" method="post">
          <textarea name="url_search" placeholder="Enter a URL" required="required" font="Arial"></textarea>
          <input type="range" min="20" max="1000" name="maxL" value="100">
          <label for="maxL">SUMMARY LENGTH</label>
          <button type="reset">CLEAR</button>
          <button type="submit">SUMMARIZE</button>
        </form>
      </li>
      <li>
        <h3>VIDEO</h3>
        <div class="video-container">
          <div class="video-frame">
            <iframe width="400" height="200" src="{{ vidurl }}"></iframe>
          </div>
        </div>
      </li>
    </ul>
  </nav>

  <h3>SUMMERIZED</h3>
  <textarea name="result" cols="30" rows="10">{{ results }}</textarea>
{% endblock %}
